
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery.min.js"></script>
</head>
<body>
    @*<div> 
        <form method="post" action="@Url.Action("/RegisterPage")">
            用户：<input type="text" name="account" />
            密码：<input type="password" name="password" />
          确认密码：<input type="password" name="rePassword" />
           手机号：<input type="text" name="phone" />
               <input type="submit" name="name" value="提交" />
        </form>
    </div>*@
</body>
</html>
